.button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  padding: $spacing-s $spacing-l;
  border: 2px solid $orange;
  border-radius: 25px;
  background-color: transparent;
  color: $orange;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 500;

  &:focus {
    outline: 0;
  }

  &:not(:disabled):hover,
  &:focus {
    color: $orangeHover;
    border-color: $orangeHover;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  + .button {
    margin-left: $spacing-s;
  }
}
