.card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: $medium;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06), 0 4px 16px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    padding: $spacing-m;

    &-title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
    }

    &-icon {
      width: 20px;
      height: 20px;
    }
  }

  &-content {
    flex-grow: 1;
    color: $white;
    padding: $spacing-m;
  }

  &-footer {
    display: flex;
    justify-content: center;
    padding: $spacing-m;
  }
}
