.input {
  display: block;
  padding: $spacing-s $spacing-m;
  background-color: $light;
  border: none;
  color: $white;
  border-radius: 4px;

  &:focus {
    outline-color: $blueHover;
  }

  &-group {
    display: flex;
    flex-direction: column-reverse;
  }

  &-label {
    display: block;
    margin-bottom: $spacing-s;
    font-size: 14px;
  }
}
