.input {
  display: block;
  padding: $spacing-s $spacing-m;
  background-color: $light;
  border: none;
  color: $white;
  border-radius: 4px;
  width: 100%;

  &:focus {
    outline-color: $orangeHover;
  }

  &-group {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: $spacing-m;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &-label {
    margin-bottom: $spacing-s;

    label {
      font-size: 14px;
    }
  }

  &-helper {
    color: $orange;
    font-size: 14px;
  }
}
