.button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  padding: 8px 25px;
  border: 1px solid $gray;
  border-radius: 25px;
  background-color: transparent;
  color: $white;
  font-size: 16px;

  &:focus {
    outline: 0;
  }

  &:not(:disabled):hover,
  &:focus {
    color: $blue;
    border-color: $blue;
  }
}
