@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@import 'variables';

@import 'button';
@import 'card';

* {
  font-family: 'Raleway', sans-serif;
}

html,
body {
  background-color: $dark;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-wrap: wrap;

  &-left,
  &-right {
    display: flex;
  }

  &-left {
    flex-direction: column;
    margin-right: $spacing-m;

    & > :first-child {
      margin-bottom: $spacing-m;
    }
  }
}
