@import-normalize;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap');
@import '~react-toastify/dist/ReactToastify.min.css';

@import 'bootstrap/scss/_mixins.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/_tables.scss';

@import 'variables';

@import './components/button';
@import './components/card';
@import './components/input';
@import './components/loader';

@import './components/address';
@import './components/balance';
@import './components/contacts';
@import './components/transactions';

* {
  font-family: 'Raleway', sans-serif;
}

html,
body {
  margin: 0;
}

body {
  font-size: 16px;
  background-color: $dark;
}

.table {
  color: $white;

  td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    text-align: left;
  }
}

.scrollbar-container {
  max-height: 450px;
}

.ps__rail-x,
.ps__rail-y {
  opacity: 1 !important;
  z-index: 5;
}

.table-hover tbody tr:hover {
  color: $white;
}
